@Model OwnerUserModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @OwnerUserModel.nome</h1>
    <p>Welcome to your list contats of your friends</p>
</div>
